@using YuyitosWeb.Negocio;
@{
    ViewBag.Title = "ListarProducto";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/Home/Index" class="navbar-brand">Yuyitos Web</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/Proveedor/ListarProveedor/">Proveedores</a></li>
            <li><a href="/Cliente/ListarCliente">Clientes</a></li>
            <li><a href="/Producto/ListarProducto">Productos</a></li>
            <li><a href="/Fiado/PagoFiado">Fiado</a></li>
            <li><a href="/Ventas/ListarVentas">Ventas</a></li>
            <li><a href="/Orden_pedido/ListarOrdenes">Orden de Pedidos</a></li>
            <li><a href="/Recepcion/ListarRecepcion">Recepcion de Pedidos</a></li>
            <li><a href="/Boleta/ListarBoleta">Administración de boletas</a></li>
            <li><a href="/Usuario/RegistrarUsuario">Registro de usuarios</a></li>
        </ul>
    </div>
</nav>

<h2>ListarProducto</h2>

@{ List<Producto> productos = (List<Producto>)ViewBag.productos;}

<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Descripcion</td>
        <td>Precio compra</td>
        <td>Precio venta</td>
        <td>Fecha elaboracion:</td>
        <td>Fecha vencimiento</td>
        <td>Stock</td>
        <td>Stock Critico</td>
        <td>Marca</td>
        <td>Tipo</td>
        <td>Proveedor</td>
    </tr>
    @foreach (var producto in productos)
    {
        <tr>
            <td>@producto.Id_producto</td>
            <td>@producto.Nombre_producto</td>
            <td>@producto.Descripcion</td>
            <td>@producto.Precio_compra</td>
            <td>@producto.Precio_venta</td>
            <td>@producto.Fecha_elab</td>
            <td>@producto.Fecha_venc</td>
            <td>@producto.Stock</td>
            <td>@producto.Stock_critico</td>
            <td>@producto.Marca.Nombre_marca</td>
            <td>@producto.Tipo_producto.Nombre_tipo</td>
            <td>@producto.Proveedor.Nombre_proveedor</td>
        </tr>
    }

</table>

<div class="badge">
    <p>@Html.ActionLink("Crear Producto", "PCrearTipoProducto")</p>
</div>

@TempData["mensaje"];

