@model YuyitosWeb.Negocio.Registro_ventas
@{
    ViewBag.Title = "CrearVenta";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/Home/Index" class="navbar-brand">Yuyitos Web</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/Proveedor/ListarProveedor/">Proveedores</a></li>
            <li><a href="/Cliente/ListarCliente">Clientes</a></li>
            <li><a href="/Producto/ListarProducto">Productos</a></li>
            <li><a href="/Fiado/PagoFiado">Fiado</a></li>
            <li><a href="/Ventas/ListarVentas">Ventas</a></li>
            <li><a href="/Orden_pedido/ListarOrdenes">Orden de Pedidos</a></li>
            <li><a href="/Recepcion/ListarRecepcion">Recepcion de Pedidos</a></li>
            <li><a href="/Boleta/ListarBoleta">Administración de boletas</a></li>
            <li><a href="/Usuario/RegistrarUsuario">Registro de usuarios</a></li>
        </ul>
    </div>
</nav>


<h2>Registrar Venta</h2>


@using (Html.BeginForm())
{
    @Html.LabelFor(r => r.Cantidad)
    @Html.TextBoxFor(r => r.Cantidad)
    <br />
    @Html.LabelFor(r => r.Fecha_venta)
    @Html.TextBoxFor(r => r.Fecha_venta)
    <br />
    @Html.LabelFor(r => r.Cliente_fiado, "Fiado")
    @Html.TextBoxFor(r => r.Cliente_fiado)
    <br />
    @Html.LabelFor(r => r.ProductoId, "Producto")
    @Html.DropDownListFor(r => r.ProductoId, new SelectList(ViewBag.productos, "Id_producto", "Nombre_producto"))
    <br />
    <button>Guardar</button>
}
